body {
    display: grid;
    justify-items: center;
    grid-template-columns: 2fr 5fr;
    padding: 0 .2em;
    height: 90vh;
    width: 90vw;
}

.left,
.right {
    padding: 0 .25em;
}

h1,
h2 {
    color: turquoise;
}

h3 {
    background: turquoise;
    padding: .5em;
    text-align: center;
}

/* HEADER */
header {
    background: gray;
    grid-column: 1 / 2;
    text-align: center;
}

.img-container {
    grid-column: 1 / 2;
}

.img-container img {
    max-width: 30vw;
    height: 70vh;
}
